__pycache__
*.pyc
*.pyo
*.egg-info
.git
.gitignore
.env
.env.*
*.db
*.sqlite
node_modules
.venv
venv
.idea
.vscode
*.md
*.log
tests
.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache
.npm
app/static/dist
.vite
